*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Alice', serif;
// color: white;
}
h1{
    font-size: 40px;
}
$font: 'Playfair Display', serif;
$bg:rgb(38, 38, 36);
$bg2: #ED1C24;
$color1:white;
$color: #28b8dc;
